In [1]:
import pandas as pd

transactions = pd.read_csv("C:\\Users\\palej\\Desktop\\FIUBA\\Organizacion de datos\\TP\\transactions_train.csv")

In [2]:
def segundo(tiempo) -> int:
    return tiempo - 86400

def minuto_hora(tiempo) -> int:
    minuto_hora = tiempo / 60
    if minuto_hora > round(minuto_hora):
        return int(round(minuto_hora) + 1)
    else:
        return int(round(minuto_hora))
    
def dia(tiempo) -> int:
    dia = tiempo / 24
    if dia > round(dia):
        return int(round(dia) + 1)
    else:
        return int(round(dia))
    
def semana(tiempo) -> int:
    semana = tiempo / 7
    if semana > round(semana):
        return int(round(semana) + 1)
    else:
        return int(round(semana))

def mes(tiempo) -> int:
    mes = tiempo / 4
    if mes > round(mes):
        return int(round(mes) + 1)
    else:
        return int(round(mes))

In [3]:
#   Sexto analisis
analisis = transactions[["target", "timestamp"]]

In [4]:
analisis = analisis.rename(columns={"target":"Fraude", "timestamp":"Segundo"})

In [5]:
analisis["Segundo"] = analisis.Segundo.map(segundo)

In [6]:
analisis["Minuto"] = analisis.Segundo.map(minuto_hora)

In [7]:
analisis["Hora"] = analisis.Minuto.map(minuto_hora)

In [8]:
analisis["Dia"] = analisis.Hora.map(dia)

In [9]:
analisis["Semana"] = analisis.Dia.map(semana)

In [10]:
analisis["Mes"] = analisis.Semana.map(mes)

In [11]:
analisis

        Fraude   Segundo  Minuto  Hora  Dia  Semana  Mes
0            0         0       0     0    0       0    0
1            0         1       1     1    1       1    1
2            0        69       2     1    1       1    1
3            0        99       2     1    1       1    1
4            0       106       2     1    1       1    1
...        ...       ...     ...   ...  ...     ...  ...
501954       0  13065175  217753  3630  152      22    6
501955       0  13065180  217753  3630  152      22    6
501956       0  13065317  217756  3630  152      22    6
501957       0  13065320  217756  3630  152      22    6
501958       0  13065440  217758  3630  152      22    6

[501959 rows x 7 columns]

In [12]:
analisis_x_seg = (f"Segundos: {analisis.Segundo.max()}", f"Cantidad: {analisis.Fraude.sum()}", f"Promedio: {round(analisis.Fraude.mean(), 3)}%")

In [13]:
analisis_x_seg

('Segundos: 13065440', 'Cantidad: 17580', 'Promedio: 0.035%')

In [14]:
analisis_x_min = analisis[ analisis.Fraude == 1 ][ "Minuto" ].value_counts().reset_index()

In [15]:
analisis_x_min = analisis_x_min.rename(columns={"count":"Cantidad"})

In [16]:
analisis_x_min["Promedio en %"] = analisis_x_min.Cantidad * 100 / analisis.Fraude.count()

In [17]:
analisis_x_min

       Minuto  Cantidad  Promedio en %
0      136426         6       0.001195
1      139695         6       0.001195
2       73412         5       0.000996
3      148153         5       0.000996
4       27508         4       0.000797
...       ...       ...            ...
16306  217493         1       0.000199
16307  217494         1       0.000199
16308  217511         1       0.000199
16309  217512         1       0.000199
16310  217746         1       0.000199

[16311 rows x 3 columns]

In [18]:
analisis_x_hora = analisis[ analisis.Fraude == 1 ][ "Hora" ].value_counts().reset_index()

In [19]:
analisis_x_hora = analisis_x_hora.rename(columns={"count":"Cantidad"})

In [20]:
analisis_x_hora["Promedio en %"] = analisis_x_hora.Cantidad * 100 / analisis.Fraude.count()

In [21]:
analisis_x_hora

      Hora  Cantidad  Promedio en %
0     1529        42       0.008367
1     1344        36       0.007172
2     1530        33       0.006574
3     2781        32       0.006375
4     2790        32       0.006375
...    ...       ...            ...
3051    82         1       0.000199
3052    84         1       0.000199
3053  3573         1       0.000199
3054  3583         1       0.000199
3055  3588         1       0.000199

[3056 rows x 3 columns]

In [22]:
analisis_x_dia = analisis[ analisis.Fraude == 1 ][ "Dia" ].value_counts().reset_index()

In [23]:
analisis_x_dia = analisis_x_dia.rename(columns={"count":"Cantidad"})

In [24]:
analisis_x_dia["Promedio en %"] = analisis_x_dia.Cantidad * 100 / analisis.Fraude.count()

In [25]:
analisis_x_dia

     Dia  Cantidad  Promedio en %
0     64       234       0.046617
1    117       194       0.038649
2     85       187       0.037254
3     65       183       0.036457
4    120       181       0.036059
..   ...       ...            ...
147  122        64       0.012750
148   25        63       0.012551
149  139        61       0.012152
150   32        51       0.010160
151  152        31       0.006176

[152 rows x 3 columns]

In [26]:
analisis_x_semana = analisis[ analisis.Fraude == 1 ][ "Semana" ].value_counts().reset_index()

In [27]:
analisis_x_semana = analisis_x_semana.rename(columns={"count":"Cantidad"})

In [28]:
analisis_x_semana["Promedio en %"] = analisis_x_semana.Cantidad * 100 / analisis.Fraude.count()

In [29]:
analisis_x_semana

    Semana  Cantidad  Promedio en %
0       17      1069       0.212966
1       10       996       0.198423
2        9       927       0.184676
3       13       912       0.181688
4        5       889       0.177106
5       14       884       0.176110
6       11       880       0.175313
7        3       869       0.173122
8       16       866       0.172524
9        8       862       0.171727
10      18       833       0.165950
11       7       823       0.163958
12       1       804       0.160172
13       6       803       0.159973
14      19       727       0.144833
15       4       724       0.144235
16      15       718       0.143040
17       2       717       0.142840
18      12       676       0.134672
19      21       639       0.127301
20      20       611       0.121723
21      22       351       0.069926

In [30]:
analisis_x_mes = analisis[ analisis.Fraude == 1 ][ "Mes" ].value_counts().reset_index()

In [31]:
analisis_x_mes = analisis_x_mes.rename(columns={"count":"Cantidad"})

In [32]:
analisis_x_mes["Promedio en %"] = analisis_x_mes.Cantidad * 100 / analisis.Fraude.count()

In [33]:
analisis_x_mes

   Mes  Cantidad  Promedio en %
0    3      3479       0.693084
1    4      3380       0.673362
2    2      3377       0.672764
3    5      3240       0.645471
4    1      3114       0.620369
5    6       990       0.197227