In [1]:
from pandas import read_csv
from funciones import tipo_transferencia, cantidad_producto

transactions = read_csv("C:\\Users\\palej\\Desktop\\FIUBA\\Organizacion de datos\\TP\\transactions_train.csv")

In [ ]:
#                   ANALISIS    DEL     PROMEDIO

In [3]:
#   Primer analisis
analisis = transactions.target.mean() * 100

In [4]:
analisis

np.float64(3.5022780745040927)

In [ ]:
#                   ANALISIS    DE  LA      CANTIDAD    Y   MONTO       DE  LOS     TIPOS   DE      PRODUCTOS

In [5]:
#   Segundo analisis
#   Tercer analisis
analisis = transactions[["target", "ammount", "product_category"]]

In [6]:
analisis = analisis.rename(columns={"target":"Transferencia", "ammount":"Monto", "product_category":"Tipo de producto"})

In [7]:
analisis["Transferencia"] = analisis["Transferencia"].map(tipo_transferencia)

In [8]:
analisis_monto = analisis.pivot_table(values="Monto", index="Tipo de producto", columns="Transferencia", aggfunc=sum)

C:\Users\palej\AppData\Local\Temp\ipykernel_9776\2044519274.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  analisis_monto = analisis.pivot_table(values="Monto", index="Tipo de producto", columns="Transferencia", aggfunc=sum)

In [9]:
analisis_monto["Total"] = analisis_monto["Legal"] + analisis_monto["Fraude"]

In [10]:
analisis_monto["Fraude en %"] = analisis_monto["Fraude"] * 100 / analisis_monto["Total"]

In [11]:
#   Primer analisis
analisis_monto["Fraude"].sum() * 100 / analisis_monto["Total"].sum()

np.float64(3.867774543990683)

In [12]:
analisis["Cantidad"] = analisis["Tipo de producto"].map(cantidad_producto)

In [13]:
analisis_cantidad = analisis.pivot_table(values="Cantidad", index="Tipo de producto", columns="Transferencia", aggfunc=sum)

C:\Users\palej\AppData\Local\Temp\ipykernel_9776\970043778.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  analisis_cantidad = analisis.pivot_table(values="Cantidad", index="Tipo de producto", columns="Transferencia", aggfunc=sum)

In [14]:
analisis_cantidad["Total"] = analisis_cantidad.Fraude + analisis_cantidad.Legal

In [15]:
analisis_cantidad["Fraude en %"] = analisis_cantidad.Fraude * 100 / analisis_cantidad.Total

In [16]:
analisis_monto.describe()

Transferencia        Fraude         Legal         Total  Fraude en %
count          5.000000e+00  5.000000e+00  5.000000e+00     5.000000
mean           5.228473e+05  1.299519e+07  1.351804e+07     7.835462
std            6.843437e+05  2.350115e+07  2.418022e+07     3.907346
min            3.712100e+04  4.278471e+05  4.649681e+05     3.054804
25%            2.228720e+05  1.986435e+06  2.209307e+06     5.134080
50%            2.935500e+05  2.227830e+06  2.558283e+06     7.983558
75%            3.304533e+05  5.424125e+06  5.717675e+06    10.087869
max            1.730240e+06  5.490972e+07  5.663996e+07    12.916996

In [17]:
analisis_monto

Transferencia          Fraude         Legal         Total  Fraude en %
Tipo de producto
C                  330453.309  2.227830e+06  2.558283e+06    12.916996
H                  222872.000  1.986435e+06  2.209307e+06    10.087869
R                  293550.000  5.424125e+06  5.717675e+06     5.134080
S                   37121.000  4.278471e+05  4.649681e+05     7.983558
W                 1730240.030  5.490972e+07  5.663996e+07     3.054804

In [18]:
analisis_cantidad.describe()

Transferencia       Fraude          Legal          Total  Fraude en %
count             5.000000       5.000000       5.000000     5.000000
mean           3516.000000   96875.800000  100391.800000     5.596480
std            3400.955748  149330.447745  151887.395773     3.581542
min             542.000000    8113.000000    8655.000000     2.073463
25%            1214.000000   29052.000000   30462.000000     3.622907
50%            1410.000000   32295.000000   33509.000000     4.628718
75%            6738.000000   52393.000000   59131.000000     6.262276
max            7676.000000  362526.000000  370202.000000    11.395038

In [19]:
analisis_cantidad

Transferencia     Fraude   Legal   Total  Fraude en %
Tipo de producto
C                   6738   52393   59131    11.395038
H                   1410   29052   30462     4.628718
R                   1214   32295   33509     3.622907
S                    542    8113    8655     6.262276
W                   7676  362526  370202     2.073463

In [20]:
#   Primer Analisis
analisis_cantidad.Fraude.sum() * 100 / analisis_cantidad.Total.sum()

np.float64(3.502278074504093)